@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Contact Me:</strong> <a href="mailto:kc9yjp@ssbme.org">kc9yjp@ssbme.org</a><br />
    
</address>
