@{
    ViewData["Title"] = "CodePlug Analyzer by KC9YJP";
}


<div class="row">
    <div class="col-md-12">
        <h1>@ViewBag.Title</h1>
        <p>Sample CodePlug Analyzed</p>
        <p>EditCp exports a json file. Upload that file in the future. This page allows you to look at the codeplug in different ways. The work is done in your browser.</p>
    </div>
    
</div>
<div class="row">
    <div class="col-md-12">
        <p>Controls will go here.</p>
    </div>
</div>

<div class="row" id="channelsByFrequency" style="display:none;">
    <div class="col-md-12 table-responsive">
        <h2>Channels by Freqeuncy</h2>
        <table class="table table-condensed">
            <thead></thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>